@font-face {
    font-family: 'pf_din_text_comp_prolight';
    src: url('../fonts/pfdintextcomppro-light/pfdintextcomppro-light-webfont.eot');
    src: url('../fonts/pfdintextcomppro-light/pfdintextcomppro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcomppro-light/pfdintextcomppro-light-webfont.woff2') format('woff2'),
         url('../fonts/pfdintextcomppro-light/pfdintextcomppro-light-webfont.woff') format('woff'),
         url('../fonts/pfdintextcomppro-light/pfdintextcomppro-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pf_din_text_comp_promedium';
    src: url('../fonts/pfdintextcomppro-medium/pfdintextcomppro-medium-webfont.eot');
    src: url('../fonts/pfdintextcomppro-medium/pfdintextcomppro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcomppro-medium/pfdintextcomppro-medium-webfont.woff2') format('woff2'),
         url('../fonts/pfdintextcomppro-medium/pfdintextcomppro-medium-webfont.woff') format('woff'),
         url('../fonts/pfdintextcomppro-medium/pfdintextcomppro-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pf_din_text_comp_prothin';
    src: url('../fonts/pfdintextcomppro-thin/pfdintextcomppro-thin-webfont.eot');
    src: url('../fonts/pfdintextcomppro-thin/pfdintextcomppro-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcomppro-thin/pfdintextcomppro-thin-webfont.woff2') format('woff2'),
         url('../fonts/pfdintextcomppro-thin/pfdintextcomppro-thin-webfont.woff') format('woff'),
         url('../fonts/pfdintextcomppro-thin/pfdintextcomppro-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'flowregular';
    src: url('../fonts/flow-regular/flow_regular-webfont.eot');
    src: url('../fonts/flow-regular/flow_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/flow-regular/flow_regular-webfont.woff2') format('woff2'),
         url('../fonts/flow-regular/flow_regular-webfont.woff') format('woff'),
         url('../fonts/flow-regular/flow_regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'flowbold';
    src: url('../fonts/flow-bold/flow_bold-webfont.eot');
    src: url('../fonts/flow-bold/flow_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/flow-bold/flow_bold-webfont.woff2') format('woff2'),
         url('../fonts/flow-bold/flow_bold-webfont.woff') format('woff'),
         url('../fonts/flow-bold/flow_bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*Reset for CSS*/
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
        display: block;
    }
    body {
        line-height: 1;
    }
    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }


    /*-----------------------------------------------------------------------*/

header {
    height: 139px;
    background:  white;
}

.header-content {
    width: 980px;
    margin: 0 auto;
    height: 139px;
    box-sizing: border-box;
}

.header-top {
    box-sizing: border-box;
    font-size: 0;
}

.connection {
    float:left;
    margin-top: 24px;
}

.logo-container {
    background: white;
    border-radius: 50%; 
    left: 50%;
    transform: translateX(-92px);
    top:0;
    position: absolute;
    padding: 20px;
    box-sizing: border-box;
    z-index: 2;
}

#search-form {
    outline: none;
    float:right;
    vertical-align: top;
    margin-right: 15px;
}

#search-form input[type="text"] {
    border:none;
    outline: none;
    border-bottom: 1px solid #65baaf;
    width: 190px;
    height: 24px;
    box-sizing: border-box;
    position: relative;
    margin-top: 20px;
    margin-right: 7px;
    padding-left: 8px;
    font-family: 'pf_din_text_comp_prothin';
    font-size: 20px;
    color: black;   
}

#search-form input[type="text"]::-webkit-input-placeholder {
    font-family: 'pf_din_text_comp_prothin';
    font-size: 18px;
    color: rgb(149,149,149);
}

#search-form input[type="text"]::-moz-placeholder {
    font-family: 'pf_din_text_comp_prothin';
    font-size: 18px;
    color: rgb(149,149,149);
}

#search-form input[type="text"]::-ms-input-placeholder {
    font-family: 'pf_din_text_comp_prothin';
    font-size: 18px;
    color: rgb(149,149,149);
}

#search-form input[type="submit"] {
    background: url(../img/icons.png) -187px 0;
    border:none;
    outline:none;
    display: inline-block;
    height: 34px;
    width: 38px;
    cursor: pointer;
    vertical-align: top;
    margin-top: 12px; 
}

.lang-select {
    float:right;
    font-size: 0;
}

.lang-select li {
    display: inline-block;
    text-align: center;
}

.lang-select li a {
    display: block;
    font-family: 'pf_din_text_comp_promedium';
    font-size: 14pt;
    color: rgb(149,149,149);
    padding-top: 24px;
    padding-bottom: 16px;
    width: 30px;
    cursor: pointer; 
}

.lang-select li.active a {
    color: white;
    background: #65baaf;
    position: relative;
    cursor: auto;  
}

.lang-select li.active a:before {
    content: "";
    width: 0;
    border-top: 15px solid #65baaf;
    border-bottom: 15px solid #65baaf;
    border-right: 6px solid transparent;
    transform: rotate(90deg);
    position: absolute;
    bottom: -17px;
    left: 12px;    
}

.clear:after {
    clear:both;
    content:"";
    display: block;
}

#phone, #email {
    font-family: 'pf_din_text_comp_prothin';
    font-size: 18px;
    color: rgb(149,149,149);
    position: relative;
    padding-left: 24px;  
}

#email {
    margin-top: 13px;
}

#phone:before {
    content: "";
    background: url(../img/icons.png) -7px -5px; 
    height: 27px;
    width: 20px;
    position:absolute;
    top:-10px;
    left:0;
}


#email:before {
     content: "";
     background: url(../img/icons.png) -49px 7px;
     height: 27px;
     width: 20px;
     position:absolute;
     top:-5px;
     left:0;
}

nav {
    margin-top: 40px;  
}

.menu  li a {
    text-decoration: none;
    font-family: 'pf_din_text_comp_prothin';
    font-size: 16px;
    color: black;
    letter-spacing: 1.3px;
}
.menu-top {
    font-size: 0;
    vertical-align: bottom;   
}

.menu-top li {
    display: inline-block;
    margin-left: 14px; 
    margin-right: 14px;
}

.menu-top li:nth-child(4){
    margin-right: 254px;
}

.menu-top li:first-child {
    margin-left: 0;
}

.menu-top li:last-child {
    margin-right: 0;
}

.slider-container{
    overflow: hidden;
    position: relative;
    height: 590px;
    background: black;
}

.slider{
    width: 100%;
    display: inline-block;
}

article{
    position: absolute;
    z-index: 1;
    text-align: center;
    width: 100%;
}

.slider-container .banner{
    position: absolute;
    top: 0;
    min-width: 100%;
    z-index: 0;
    opacity: .6;
}

.slider-container .icon{
    position: absolute;
    left: 0;
    top:74px;
}

.slider .first-article {
    font-family: 'pf_din_text_comp_prothin';
    font-size: 20pt;
    color: white;
    text-align: center;
    padding-top: 60px;
    margin-bottom: 92px;
}

.slider .second-article {
    font-family: 'pf_din_text_comp_promedium';
    font-size: 72pt;
    color: white;
    text-align: center; 
    margin-bottom: 56px; 
    letter-spacing: 5px;
}

.slider .third-article {
    font-family: 'flowregular';
    font-size: 28px;
    color: white;
    text-align: center;
}

.slider .fourth-article {
    font-family: 'flowregular';
    font-size: 28px;
    color: white;
    text-align: center;
    margin-bottom: 152px;
}

.slider .slider-select {
    font-size: 0;
}

.slider .slider-select li {
    display: inline-block;
    margin-right: 13px;
    vertical-align: middle;  
}

.slider .slider-select li.active a {
    cursor: auto;
}

.content {
    overflow: hidden;
}


.content .top {
    padding-bottom: 22px;
    border-bottom: 1px solid gray;
    z-index: 1;
}

.content .top .top-content {
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 980px;
    padding-bottom: 101px;
    z-index: 2;
}

.content .top .top-content:before {
    content: "";
    background: url("../img/bicycle.png"); 
    width:311px;
    height: 346px;
    position: absolute;
    bottom: -35px;
    left: -113px;
}

.content .top .top-content:after {
    content: "";
    background: url("../img/girle.png"); 
    width:204px;
    height: 323px;
    position: absolute;
    bottom: 30px;
    right: -30px;
}

.content p.welcom-article {
    font-family: 'pf_din_text_comp_prothin';
    font-size: 36px;
    color: gray; 
}

.content p.welcom-article:first-child{
    padding-top: 35px;
}

.content .logo {
   margin-top: 50px;
}

 .content .middle  {
   position: relative;
 }

.content .middle  .product {
    text-align: center;
    font-family: 'flowbold';
    font-size: 40px;
    color: #65baaf;
    padding-top: 52px;
    padding-bottom: 53px;
    position: relative;
}

.content .middle .product:before {
    background:  white url("../img/icons.png") 0 -49px;
    border-left: 20px solid white;
    border-right: 20px solid white;
    width: 44px;
    height: 44px;
    content: "";
    position: absolute;
    top: -22px;
    left: 50%;
    margin-left: -42px;
 }


.content .middle .book-container {
   width:980px;
   margin: 0 auto 84px;
   position: relative;
   font-size: 0;
   vertical-align: top;
}

.content .middle .book-container .book {
    float:left;
    transform: translate(-60px, -29px);
    background: url("../img/book.png");
    width: 744px;
    height: 427px;
}

.content .middle .book-container .book-menu{
    position: relative;
    transform: translateX(60px);
    display: inline-block;
}

.content .middle .book-container .book-menu li{
    display: inline-block;
    text-align: center;
}

.content .middle .book-container .book-menu:before{
    content: "";
    background: url("../img/book-marker-1.png");
    width: 39px;
    height: 72px;
    position: absolute;
    top: -23px;
    left: 168px;
}

.content .middle .book-container .book-menu:after{
    content: "";
    background: url("../img/book-marker-2.png");
    width: 66px;
    height: 64px;
    position: absolute;
    top: 15px;
    right: -50px;
}

.content .middle .book-container .book-menu li a{
    text-decoration: none;
    background: url("../img/string-3.png");
    display: block;
    width: 181px;
    height: 50px;
    font-family: 'pf_din_text_comp_promedium';
    font-size: 17px;
    text-transform: uppercase;
    color: white;
    padding-top: 15px;
}

.content .middle .book-container .book-menu li+li a{
    background: url("../img/string-4.png");
    width: 147px;
    height: 35px;
    font-size: 20px;
    font-family: 'pf_din_text_comp_prothin';
    text-transform: none;
}

.content .middle .book-container .book-menu li+li+li a{
    background: url("../img/string-5.png");
    width: 155px;
    height: 29px;
}

.content .middle .book-container .book .left-side {
    float: left;
    text-align: center;
    transform: translate(118px, 63px);
}

.content .middle .book-container .book .left-side:before{
    content: "";
    background: url("../img/frame.png");
    width: 246px;
    height: 244px;
    display: block;
    margin-bottom: 33px;
}

.content .middle .book-container .book .left-side a {
    text-decoration: none;
    font-family: 'pf_din_text_comp_promedium';
    font-size: 18px;
    color: #8f5926;
}

.content .middle .book-container .book .right-side {
    float: left;
    text-align: center;
    transform: translate(183px, 54px);
}

.content .middle .book-container .book .right-side span.title {
    text-decoration: none;
    font-family: 'pf_din_text_comp_promedium';
    font-size: 36px;
    color: #caa977;
    
}

.content .middle .book-container .book .right-side span.title:after {
    content: "";
    background: url("../img/icons.png") 0 -190px;
    width: 60px;
    height: 60px;
    display: block;
    position: relative;
    left: 50%;
    margin-left: -30px;
}

.content .middle .book-container .book .right-side p {
    font-family: 'pf_din_text_comp_prothin';
    font-size: 20px;
    color: gray;
    line-height: 30px;
}

.content .middle .book-container .book .right-side p+p {
    line-height: 38px;
}

.content .middle .book-container .book .right-side p+p+p {
    line-height: 26px;
}

.content .middle .book-container .book .right-side p+p+p+p {
    margin-bottom: 38px;
}

.content .middle .book-container .book .right-side .back, 
.content .middle .book-container .book .right-side .forward {
    font-family: 'pf_din_text_comp_promedium';
    font-size: 16px;
    color: #caa977;
    text-decoration: none;
}

.content .middle .book-container .book .right-side .back:after {
    content: "";
    background: url("../img/icons.png") 0 -97px;
    width: 32px;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 13px;
}

.content .middle .book-container .book .right-side .forward:before {
    content: "";
    background: url("../img/icons.png") -50px -142px;
    width: 53px;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
}

.middle .mini-slider {
    float:left;
    text-align: center;
    font-size: 0;
    position: relative;
    transform: translateY(70px);
}

.middle .mini-slider img{
    display: inline-block;
}

.middle .mini-slider .back{
    display: inline-block;
    transform: translate(5px, -26px);
    background: url(../img/icons.png) -88px -15px no-repeat;
    width: 15px;
    height: 45px;
}

.middle .mini-slider .forward{
    background: url(../img/icons.png) -127px -14px no-repeat;
    width: 15px;
    height: 45px;
    display: inline-block;
    transform: translate(-5px, -26px);
}

.middle .mini-slider:before {
    content: "";
    background: url(../img/new.png);
    width: 114px;
    height: 105px;
    position: absolute;
    top:-80px;
    left:80px;
}

.middle .mini-slider:after {
    content: "";
    background:  url(../img/star.png) no-repeat;
    width: 59px;
    height: 32px;
    position: absolute;
    top: -105px;
    left: 160px;
}

.middle .mini-slider p {
    font-family: 'pf_din_text_comp_promedium';
    font-size: 24px;
    color: #65baaf;
    margin-top: 45px;
}

.middle .mini-slider p+p {
    font-family: 'pf_din_text_comp_prothin';
    font-size: 18px;
    color: gray;
    margin: 0;
}

.middle .advantages {
    background-color: rgba(232, 244, 243, .7);
    position: relative;
    text-align: center;
    z-index: 2;
}

.middle .advantages .container {
    width: 980px;
    margin: 0 auto;
    padding: 0 10px;
    z-index: 3;
}

.middle .advantages .container p.benefits{
    color: #65baaf;
    font-family: 'flowbold';
    font-size: 40px;
    padding-top: 65px;
    padding-bottom: 53px;
    text-transform: uppercase; 
}

.middle p.benefits:before {
    content: "";
    background: white url("../img/cherry.png") no-repeat;
    width: 60px;
    height: 60px;
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-35px);
    border: 5px solid white;
    border-radius: 50%;
}

.middle .advantages .container .list-advantages {
    padding-bottom: 60px;
}

.middle .advantages .container .list-advantages li {
    float: left;
    padding-top: 150px;
    text-align: center;
    color: #915b27;
    font-family: 'pf_din_text_comp_prothin';
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    position: relative;
    width: 245px;
}

.middle .advantages .container .list-advantages li:last-child {
    margin-right: 0;
}

.middle .advantages .container .list-advantages li:before {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    background: url(../img/icons.png) no-repeat 0 -338px;
    height: 120px;
    width: 120px;
    margin-left: -60px;
}

.middle .advantages .container .list-advantages li:nth-child(2):before {
    background-position: 0 -494px;
}

.middle .advantages .container .list-advantages li:nth-child(3):before {
    background-position: 0 -662px;
}

.middle .advantages .container .list-advantages li:nth-child(24):before {
    background-position: -147px -338px;
}

.middle .values {
    width: 980px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 1;
}

.middle .values:before {
    content: "";
    background: url("../img/eggs.png");
    width: 655px;
    height: 844px;
    position: absolute;
    top: -130px;
    left:-470px;  
}

.middle .values:after {
    content: "";
    background: url("../img/flour.png");
    width: 887px;
    height: 409px;
    position: absolute;
    bottom: -125px;
    right: -800px;
}

.middle .values h1 {
    color: #65baaf;
    font-size: 40px;
    font-family: 'flowregular';
    font-weight: 700;
    margin-top: 54px;
    position: relative;
    margin-bottom: 113px;
}

.middle .values h1:after {
    content: "";
    background: url(../img/icons.png) 0px -846px;
    width: 206px;
    height: 30px;
    display: block;
    position: absolute;
    top: 94px; 
    left: 50%;
    margin-left: -103px;
}

.middle .values p {
    line-height: 32px;
    color: gray;
    font-size: 24px;
    font-family: 'pf_din_text_comp_prothin';
}

.middle .values .wrapper-iframe {
    background: url("../img/frm.png");
    width: 597px;
    height: 417px;  
    margin-top: 40px;
    display: inline-block; 
    margin-bottom: 113px;
}

.middle .values .wrapper-iframe:after {
    content: "";
    background: url("../img/cheese.png");
    width: 485px;
    height: 354px;
    position: absolute;
    bottom: 130px;
    right: -700px;
} 

.middle .values iframe {
    width: 500px; 
    height:342px;
    padding-top: 31px;
}

.middle .news{
    border-top: 1px solid gray;
    position: relative;
    z-index: 0;
}

.middle .news .news-content {
    width: 980px;
    margin: 0 auto;
    text-align: center;
}

.middle .news .news-content h1 {
    margin-top: 59px;
    font-size: 40px;
    font-family: 'flowbold';
    color: #67bbaf;
    margin-bottom: 75px;
}

.middle .news-content h1:before {
    content: "";
    background:  white url(../img/icons.png) -278px -835px;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    position: absolute;
    top: -37px;
    left: 50%;
    margin-left: -37px;
    border: 12.5px solid white;
}

.middle .news-content ul {
    font-size: 0;
    margin-bottom: 71px;
}

.middle .news-content ul li {
    float: left;
    width: 50%;
    position: relative;
    text-align:left;
}

.middle .news-content ul li:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url("../img/cook.png");
    width: 140px;
    height: 100px;
}

.middle .news-content ul li+li:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url("../img/children.png");
    width: 140px;
    height: 100px;
}

.middle .news-content ul li a {
    color: #caa977;
    font-size: 22px;
    text-decoration: none;
    font-family: 'pf_din_text_comp_promedium';
    padding-left: 160px;  
}

.middle .news-content ul p {
    font-family: 'pf_din_text_comp_prothin';
    color: gray;
    font-size: 18px;
    padding-left: 160px;  
}

.middle .news-content ul li p:nth-child(2) {
    padding-top: 16px;
} 

.middle .news-content .read-more {
    border: 1px solid gray;
    border-radius: 20px;
    padding: 13px 26px;
    text-decoration: none;
    font-family: 'pf_din_text_comp_prothin';
    color: gray;
    font-size: 16px;   
}

.middle #map {
    margin-top: 62px;
    height: 508px;
}

.middle .map-container {
    position: relative;
}

.middle .form-container {
    background: transparent;
    height: 508px;
    width:980px;
    margin: 0 auto;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -490px;
    text-align: center;
}

.middle .form-container form {
    background-color: #67bbaf;
    width: 340px;
    height: 508px;
    box-sizing: border-box;
}

.middle .form-container form p {
    text-transform: uppercase;
    font-size: 42px;
    color: white;
    margin-bottom: 40px;
    padding-top: 51px;
    font-family: 'pf_din_text_comp_prolight';
}

.middle .form-container form .form-field {
    width: 301px;
    height: 44px;
    border: 1px solid #fff;
    background-color: rgba(232, 244, 243, .7);
    margin-bottom: 8px;
    outline: none;
    color: black;
    font-family: 'pf_din_text_comp_prothin';
    font-size: 22px;
}

.middle .form-container form textarea.form-field {
    margin-bottom: 0;
}

.middle .form-container form .form-field::-webkit-input-placeholder {
    font-family: 'pf_din_text_comp_prothin';
    font-size: 22px;
    color: white;
    padding-left: 12px;
}


.middle .form-container form .form-field::-moz-placeholder {
    font-family: 'pf_din_text_comp_prothin';
    font-size: 22px;
    color: white;
    padding-left: 12px;
}

.middle .form-container form .form-field::-ms-input-placeholder {
    font-family: 'pf_din_text_comp_prothin';
    font-size: 22px;
    color: white;
    padding-left: 12px;
}

.middle .form-container form textarea.form-field {
    min-width: 301px;
    max-width: 301px;
    min-height: 106px;
    max-height: 106px;
    overflow: hidden;
}

.middle .form-container .submit {
    margin-top: 41px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 40px;
    text-transform: uppercase;
    color: #fff; 
    font-family: 'pf_din_text_comp_promedium';
    font-size: 22px;
    padding: 5px 0px;
    width: 149px;
    outline: none;
    cursor: pointer;
}

footer .footer-container {
    width: 980px;
    margin: 0 auto;
}

footer .footer-container .first-part div {
    float: left;
    width: 340px;
}

footer .footer-container .first-part div+div {
    width: 320px;
}

footer .footer-container .first-part .menu .connection ul {
    margin-top: 40px;
}

footer .footer-container .first-part .menu .connection li {
    float: left;
    width: 50%;
    margin-top: 18px;
}

footer .footer-container .first-part .menu .connection li a {
    font-size: 20px;
    font-family: 'pf_din_text_comp_prothin';
    color: gray;
}

footer .footer-container .first-part .contact {
    margin-top: 42px; 
}

footer .footer-container .first-part .contact  p {
    color: #c8a674;
    font-size: 22px;
    font-family: 'pf_din_text_comp_promedium';
    margin-bottom: 25px;
    padding-left: 50px;
}

footer .footer-container .first-part .contact ul li {
    font-family: 'pf_din_text_comp_prothin';
    color: gray;
    font-size: 20px;
    padding-left: 50px;
    position: relative;
}

footer .footer-container .first-part .contact ul li:nth-child(2) {
    margin-bottom: 25px;
}

footer .footer-container .first-part .contact ul li:nth-child(1):before {
    background: url("../img/icons.png") -261px -30px;
    content: "";
    width: 38px;
    height: 51px;
    position: absolute;
    top: 0;
    left:0;
}

footer .footer-container .first-part .contact ul li:nth-child(3):before {
    background: url("../img/icons.png")  -305px -24px;
    content: "";
    width: 38px;
    height: 51px;
    position: absolute;
    top: 0;
    left:0;
}

footer .footer-container .first-part .contact ul li:last-child:before {
    background: url("../img/icons.png")  -366px -38px;
    content: "";
    width: 55px;
    height: 23px;
    position: absolute;
    top: 0;
    left:0;
}

footer .footer-container .first-part .contact ul li:nth-child(4) {
    margin-bottom: 25px;
}

footer .footer-container .first-part .subscription {
    margin-top: 41px;
    text-align: center;
}

footer .footer-container .first-part .subscription .container {
    background: url(../img/subscription.png) no-repeat;
    padding: 40px 60px 35px;
    box-sizing: border-box;
}

footer .footer-container .first-part .subscription span {
    font-size: 20px;
    text-transform: uppercase;
    color: #67bbaf;
    font-family: 'pf_din_text_comp_promedium';
}

footer .footer-container .first-part form {
    margin-top: 28px;
}

footer .footer-container .first-part form input[type=text] {
    outline: none;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #b1b1b1;
    width: 100%;
    font-size: 19px;
    color: black;
    font-family: 'pf_din_text_comp_prothin'; 
}

footer .footer-container .first-part form input[type=text]::-webkit-input-placeholder {
    font-size: 19px;
    color: #b1b1b1;
    font-family: 'pf_din_text_comp_prothin';  
    text-align: center;
}

footer .footer-container .first-part form input[type=text]::-ms-input-placeholder {
    font-size: 19px;
    color: #b1b1b1;
    font-family: 'pf_din_text_comp_prothin';  
    text-align: center;
}

footer .footer-container .first-part form input[type=text]::-moz-placeholder {
    font-size: 19px;
    color: #b1b1b1;
    font-family: 'pf_din_text_comp_prothin';  
    text-align: center;
}

footer .footer-container .first-part form input[type=submit]{
    margin-top: 35px;
    background: transparent;
    border: 1px solid #b1b1b1;
    border-radius: 40px;
    text-transform: uppercase;
    color: #b1b1b1;
    font-family: 'pf_din_text_comp_promedium';
    font-size: 16px;
    padding: 5px 0;
    width: 119px;
    outline: none;
    cursor: pointer;
}

footer .footer-container .second-part {
    margin-top: 40px;
    color: gray;
    font-size: 16px;
    font-family: 'pf_din_text_comp_prothin';
}

footer .footer-container .second-part .developing {
    float:left;
    width: 820px;
}

footer .footer-container .second-part .developing p {
    margin-bottom: 12px;
}

footer .footer-container .second-part .social-networks {
    float: right;
}

footer .footer-container .second-part .social-networks li {
    float:left;
    margin-right: 15px;
}

footer .footer-container .second-part .social-networks li a.vk {
    background: url(../img/icons.png)  -118px -59px;
    display: block;
    height: 50px;
    width: 49px;
}

footer .footer-container .second-part .social-networks li a.facebook {
    background: url(../img/icons.png) -123px -128px;
    display: block;
    height: 50px;
    width: 49px;
} 

/*  768px < screen < 992px */

@media screen and (max-width:992px) {
    header {
        height: auto;
    }

    .header-content {
        width: 768px;
        height: auto;
    }

    .header-top .logo-container {
        transform: none;
        text-align: center;
        position: static;
    } 

    .header-top > .lang-select {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 104px;
        margin: 0;
    }

    .menu .menu-top {
        text-align: center; 
    }

    .menu .menu-top li {
        width: 100%;
        border: 1px solid #65baaf;
        display: inline-block;
        margin: 1px;
    }

    .menu .menu-top li a {
        padding: 10px 0;
        display: block;
    }

    .slider {
        display: none;
    }

    .top-content:before {
        display: none;
    }

    .top-content:after {
        display: none;
    }

    .content .top .top-content {
        width: 768px;
    }


    .content .middle .book-container {
        width: 768px;
    }

    .content .middle .book-container .book-menu  {
        display: none;
    }

    .content .middle .product {
        font-size: 37px;
    }

    .content .middle .book-container .book {
        background: none;
        width: 100%;
        transform: none;
    }

    .content .middle .book-container .book .right-side,
    .content .middle .book-container .book .left-side {
        border: 1px solid #caa977;
        background-color: #f6edda;
        width: 50%;
        padding-top: 30px;
        box-sizing: border-box;
        transform: none;
        min-height: 346px;
    }

    
    .content .middle .book-container .book .left-side:before {
        position: relative;
        top: 0;
        left: 50%;
        margin-left: -123px;
    }

    .middle .book-container .mini-slider {
        display: none;
    }

    .middle .advantages .container {
        width: 768px;
    }

    .middle .advantages {
        z-index: 0;
    }

    .middle .news {
        z-index: 1;
    }

    .middle .advantages .container .list-advantages li{
        width: 25%;
    }

    .middle .advantages .container p.benefits {
        font-size: 35px;
    }


    .middle .news .news-content {
        width: 768px; 
    }

    .middle .news-content ul li {
        padding-right: 10px;
        box-sizing: border-box;
    }

    .values {
        display: none;
    }

    .map-container .form-container {
        display: none;
    }

    footer .footer-container {
        width: 768px; 
    }

    footer .footer-container .first-part div.menu {
        width: 100%;
    }

    footer .footer-container .first-part .contact{
        width: 50%;
    }

   footer .footer-container .first-part .subscription  {
        width: 100%;   
   }

   footer .footer-container .first-part .subscription .container {
        margin: 0 auto;
        float: none;
    }

    footer .footer-container .second-part .developing {
       width: 100%;
    }

    footer .footer-container .second-part .social-networks {
        text-align: center;
        width: 100%;
    }

    footer .footer-container .second-part .social-networks li {
        float: none;
        display: inline-block;
    }
}


/*  480px < screen < 768px */

@media screen and (max-width:768px) {
    header {
        height: auto;
    }

    .header-content {
        width: 480px;
        height: auto;
    }

    .header-top .logo-container {
        transform: none;
        text-align: center;
        position: static;
    } 

    .header-top > .connection {
      float: none;
    }

    .header-top > .lang-select {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 104px;
        margin: 0;
    }

    .header-top > #search-form {
        float: none;
    }

    .menu .menu-top {
        text-align: center; 
    }

    .menu .menu-top li {
        width: 100%;
        border: 1px solid #65baaf;
        display: inline-block;
        margin: 1px;
    }

    .menu .menu-top li a {
        padding: 10px 0;
        display: block;
    }

    .slider {
        display: none;
    }

    .top-content:before {
        display: none;
    }

    .top-content:after {
        display: none;
    }

    .content .top .top-content {
        width: 480px;
    }

   
    .middle .news .news-content h1 {
        font-size: 35px;
    }

    .middle .advantages {
        z-index: 0;
    }

    .middle .news {
        z-index: 1;
    }

    .content .middle .book-container {
        width: 480px;
    }

    .content .middle .book-container .book-menu  {
        display: none;
    }

    .content .middle .product {
        font-size: 37px;
    }

    .content .middle .book-container .book .left-side {
        display: none;
    }

    .content .middle .book-container .book {
        background: none;
        width: 100%;
    }

    .content .middle .book-container .book .right-side {
        border: 1px solid #caa977;
        background-color: #f6edda;
        width: 300px;
        padding-top: 30px;
        box-sizing: border-box;
        transform: none;
        float: none;
        margin: 0 auto;
    }

    .middle .book-container .mini-slider {
        display: none;
    }

    .middle .advantages .container {
        width: 480px;
    }

    .middle .advantages .container .list-advantages li{
        width: 100%;
        margin-bottom: 20px;
    }

    .middle .advantages .container p.benefits {
        font-size: 35px;
    }

    .middle .news .news-content {
        width: 480px
    }

    .middle .news-content ul li {
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }

    .middle .news-content ul li+li {
        width: 95%;
    }

    .values {
        display: none;
    }

    .map-container .form-container {
        display: none;
    }

    footer .footer-container {
        width: 480px; 
    }

    .footer-container .first-part {
        width: 100%;
    }

    .footer-container .first-part .menu {
        width: 100%;
    }

    .footer-container .first-part .menu .connection {
        width: 100%;
    }

    footer .footer-container .first-part .contact{
        width: 100%;
    }

   footer .footer-container .first-part .subscription  {
        width: 100%;   
   }

   footer .footer-container .first-part .subscription .container {
        margin: 0 auto;
        float: none;
    }

    footer .footer-container .second-part .developing {
       width: 100%;
    }

    footer .footer-container .second-part .social-networks {
        text-align: center;
        width: 100%;
    }

    footer .footer-container .second-part .social-networks li {
        float: none;
        display: inline-block;
    }
}

/*  320px < screen < 480px */

@media screen and (max-width:480px) {
    header {
        height: auto;
    }

    .header-content {
        width: 320px;
        height: auto;
    }

    .header-top .logo-container {
        transform: none;
        text-align: center;
        position: static;
    } 

    .header-top > .connection {
      float: none;
    }

    .header-top > .lang-select {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 104px;
        margin: 0;
    }

    .header-top > #search-form {
        float: none;
    }

    .menu .menu-top {
        text-align: center; 
    }

    .menu .menu-top li {
        width: 100%;
        border: 1px solid #65baaf;
        display: inline-block;
        margin: 1px;
    }

    .menu .menu-top li a {
        padding: 10px 0;
        display: block;
    }

    .slider {
        display: none;
    }

    .top-content:before {
        display: none;
    }

    .top-content:after {
        display: none;
    }

    .content .top .top-content {
        width: 320px;
    }

   
    .middle .news .news-content h1 {
        font-size: 35px;
    }

    .middle .advantages {
        z-index: 0;
    }

    .middle .news {
        z-index: 1;
    }

    .content .middle .book-container {
        width: 320px;
    }

    .content .middle .book-container .book-menu  {
        display: none;
    }

    .content .middle .product {
        font-size: 37px;
    }

    .content .middle .book-container .book .left-side {
        display: none;
    }

    .content .middle .book-container .book {
        background: none;
        width: 100%;
    }

    .content .middle .book-container .book .right-side {
        border: 1px solid #caa977;
        background-color: #f6edda;
        width: 300px;
        padding-top: 30px;
        box-sizing: border-box;
        transform: none;
        float: none;
        margin: 0 auto;
    }

    .middle .book-container .mini-slider {
        display: none;
    }

    .middle .advantages .container {
        width: 320px;
    }

    .middle .advantages .container .list-advantages li{
        width: 100%;
        margin-bottom: 20px;
    }

    .middle .advantages .container p.benefits {
        font-size: 35px;
    }

    .middle .news .news-content {
        width: 320px
    }

    .middle .news-content ul li {
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }

    .middle .news-content ul li+li {
        width: 95%;
    }

    .values {
        display: none;
    }

    .map-container .form-container {
        display: none;
    }

    footer .footer-container {
        width: 320px; 
    }

    .footer-container .first-part {
        width: 100%;
    }

    .footer-container .first-part .menu {
        width: 100%;
    }

    .footer-container .first-part .menu .connection {
        width: 100%;
    }

    footer .footer-container .first-part .contact{
        width: 100%;
    }

   footer .footer-container .first-part .subscription  {
        width: 100%;   
   }

   footer .footer-container .first-part .subscription .container {
        margin: 0 auto;
        float: none;
    }

    footer .footer-container .second-part .developing {
       width: 100%;
    }

    footer .footer-container .second-part .social-networks {
        text-align: center;
        width: 100%;
    }

    footer .footer-container .second-part .social-networks li {
        float: none;
        display: inline-block;
    }

    .content .logo {
        transform: translateX(-65px);
    }
}



